{% if question_list %}

<form action="{% url 'quizz:question' theme_id %}" method="post">
<ul>
{% for question in question_list %}
{% csrf_token %}

    <legend><h1>{{ question.question_text }}</h1></legend>
        {% with count_question=forloop.counter %}
        
        {% for choice in question.choice_set.all %}
        <br>
            <input type="checkbox" name="choice_id{{count_question}}" value="{{ choice.id }}">{{ choice.choice_text }}
        {% endfor %}
        {% endwith %}
{% endfor %}
    
</ul>

<input type="submit" value="Vote">
</form>
{% else %}
<p>No quizz are available.</p>
{% endif %}