{% if question_list %}

<ul>
{% for question in question_list %}
{% csrf_token %}

    <legend><h1>{{ question.question_text }}</h1></legend>
    
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
{% endfor %}
</ul>

<input type="submit" value="Vote">
</form>
{% else %}
<p>No quizz are available.</p>
{% endif %}